Build/

# Xcode
*.xcworkspace
xcuserdata/
*.xcodeproj/xcuserdata/

# DerivedData
DerivedData/

# CocoaPods
Pods/

# Carthage
Carthage/

# Xcode project settings
*.xccheckout

# macOS specific
.DS_Store

# Ignore .plist files
*.plist